.App{
    text-align: center;
}
.context{
    justify-content: center;
    text-align: center;
    align-items: center;

}
.rowsp{
    align-items: center;
    justify-content: center;
}
.button{
    margin-left: 10px;
}
.box{
    display: flex;
    flex-direction: column;
}